
// Форма в футере //

.sign-form {
    margin-left: auto;
}

.sign-form__call {
    display: block;
    margin-bottom: 20px;
    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.03em;
    text-transform: uppercase;

    color: #FFFFFF;
}

.sign-form__group {
    display: flex;
}

.sign-form__input {
    margin-right: 12px;
    width: 358px;
    height: 50px;
    padding-left: 16px;

    border: 1px solid rgba(255, 255, 255, 0.3);
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
    border-radius: 4px;
    background-color: var(--secondary-background-color);
    cursor: pointer;
}

.subscribe-title {
    margin-right: 10px;
}

.btn-send {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    width: 200px;
    height: 50px;
    background-color: var(--accent-background-color);
    border-color: transparent;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    cursor: pointer;

    color: var(--extra-text-color);
    font-weight: 700;
    font-size: 16px;
    line-height: 1.88;
}