.section-hero {
    max-width: 480px;
    min-height: 400px;
    margin-left: auto;
    margin-right: auto;
    padding-top: 118px;
    padding-bottom: 118px;


    
    text-align: center;

    background-repeat: no-repeat;
    background-size: cover;
     background-position: center;
     border: 1px solid #ECECEC;
    background-color: var(--secondary-background-color);
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
    url(../images/hero/hero_mob.jpg);


    // Мобильная версия
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
    -webkit-image-set(url(../images/hero/hero_mob.webp) 1x); 
   @include media-query(retina) {
        background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
        url(../images/hero/hero_mob@2x.jpg);

        background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
        -webkit-image-set(url(../images/hero/hero_mob@2x.webp) 2x);
        }


// Таблетка

    @include media-query(tablet) {
        max-width: 768px;
        background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
        url(../images/hero/hero_tab.jpg);

        background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
         -webkit-image-set(url(../images/hero/hero_tab.webp) 1x);

        @include media-query(retina) {
                background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
                    url(../images/hero/hero_tab@2x.jpg);
            }
            background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
             -webkit-image-set(url(../images/hero/hero_tab@2x.webp) 2x);
    }


// Десктоп

    @include media-query(desktop) {
        padding-top: 200px;
        padding-bottom: 200px;
        min-height: 600px;
        max-width: 1600px;

        background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
        url(../images/hero/hero_des.jpg);

        background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
         -webkit-image-set(url(../images/hero/hero_des.webp) 1x);

        @include media-query(retina) {
                background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
                    url(../images/hero/hero_des@2x.jpg);
            }

             background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
              -webkit-image-set(url(../images/hero/hero_des@2x.webp) 2x);
        }
}

.hero-title {
    margin-top: 0;
    margin-bottom: 30px;

    font-weight: 900;
    font-size: 26px;
    line-height: 1.62;
    letter-spacing: 0.06em;
    text-transform: uppercase;
    color: var(--extra-text-color);

    @include media-query(desktop) {
        font-size: 44px;
        line-height: 1.36;
    }
}

.hero-button {
    min-width: 200px;
    height: 50px;
    padding: 10px 32px;
    border-radius: 4px;

    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    font-family: inherit;
    font-weight: 700;
    font-size: 16px;
    line-height: 1.88;
    background-color: var(--accent-background-color);
    border-color: transparent;
    color: var(--extra-text-color);
    cursor: pointer;
}